@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

header {
    font-family: cursive;
    font-style: oblique;
    font-size: 20px;
}

body {
    background-color: crimson;
}